<a href="https://colab.research.google.com/github/FeryRi/retoAnaliticaRepo/blob/main/Actividad%20Evaluable%3A%20Obtenci%C3%B3n%20de%20estadisticas%20descriptivas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/drive/MyDrive/retoAnalitica/avocado_full.csv')

desplegar la columna de la region de las vegas

In [6]:
Vegas=df[df["region"]=="LasVegas"]
Vegas

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
1092,2015-12-27,0.83,292707.14,135799.94,93317.46,4977.64,58612.10,34675.97,23936.13,0.0,conventional,2015,LasVegas
1093,2015-12-20,0.96,232294.71,96355.05,77086.11,4749.61,54103.94,34992.96,19110.98,0.0,conventional,2015,LasVegas
1094,2015-12-13,0.95,216119.35,101042.61,68490.51,4942.71,41643.52,33834.13,7809.39,0.0,conventional,2015,LasVegas
1095,2015-12-06,0.89,244024.83,94777.64,107758.80,10794.34,30694.05,30201.26,492.79,0.0,conventional,2015,LasVegas
1096,2015-11-29,0.95,205476.61,88653.67,81160.21,5227.59,30435.14,29475.24,959.90,0.0,conventional,2015,LasVegas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17860,2018-02-04,1.79,9503.13,1479.32,1512.78,0.00,6511.03,6465.39,45.64,0.0,organic,2018,LasVegas
17861,2018-01-28,1.78,8672.12,1005.73,2110.22,0.00,5556.17,5538.46,17.71,0.0,organic,2018,LasVegas
17862,2018-01-21,1.91,7491.53,1096.07,1280.31,0.00,5115.15,5115.15,0.00,0.0,organic,2018,LasVegas
17863,2018-01-14,1.98,9883.94,1497.55,2199.58,0.00,6186.81,6180.41,6.40,0.0,organic,2018,LasVegas
17864,2018-01-07,1.73,10293.36,1701.33,2012.10,0.00,6579.93,6553.06,26.87,0.0,organic,2018,LasVegas

In [10]:
NY=df[df["region"]=="NewYork"]
California=df[df["region"]=="California"]
Charlotte=df[df["region"]=="Charlotte"]

In [14]:
NY

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
1456,2015-12-27,1.17,1129876.05,13711.19,872603.60,894.58,242666.68,208470.99,34191.25,4.44,conventional,2015,NewYork
1457,2015-12-20,1.23,1139347.98,13998.35,867406.68,803.83,257139.12,212615.20,44523.92,0.00,conventional,2015,NewYork
1458,2015-12-13,1.12,1254805.29,15990.38,975504.52,1657.92,261652.47,222446.62,39205.85,0.00,conventional,2015,NewYork
1459,2015-12-06,1.20,1068971.54,15730.10,887708.08,892.62,164640.74,136643.23,27997.51,0.00,conventional,2015,NewYork
1460,2015-11-29,1.16,999169.64,13652.41,814571.57,863.58,170082.08,139508.76,30573.32,0.00,conventional,2015,NewYork
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17944,2018-02-04,1.83,93204.08,9300.64,21428.22,814.47,61660.75,61516.19,144.56,0.00,organic,2018,NewYork
17945,2018-01-28,1.75,96380.28,13196.30,24933.01,128.24,58122.73,56090.23,2032.50,0.00,organic,2018,NewYork
17946,2018-01-21,1.91,71760.69,5732.09,13124.59,157.72,52746.29,52130.98,615.31,0.00,organic,2018,NewYork
17947,2018-01-14,1.91,86632.25,7433.43,17885.26,49.43,61264.13,60763.71,500.42,0.00,organic,2018,NewYork
17948,2018-01-07,1.97,82637.97,6158.73,19251.81,47.04,57180.39,57180.39,0.00,0.00,organic,2018,NewYork

In [24]:
NYtb=NY["Total Bags"]
NYprom=NYtb.mean()
NYprom

201166.144260355

In [ ]:
NYtot=NYtb.sum()
NYtot

In [26]:
NYstd=NYtb.std()
NYstd

197491.93271625863

In [32]:
NYsmall=NY["Small Bags"]
NYsmallsm=NYsmall.sum()
NYsmllPorc=NYsmallsm / NYtot
NYsmllPorc

0.8589220792330922

In [33]:
NYlg=NY["Large Bags"]
NYlgsm=NYlg.sum()
NYlgPorc=NYlgsm / NYtot
NYlgPorc

0.13579104470094175

In [34]:
NYxlg=NY["XLarge Bags"]
NYxlgsm=NYxlg.sum()
NYxlgPorc=NYxlgsm / NYtot
NYxlgPorc

0.005286890773112369

In [ ]:
California

In [35]:
Caltb=California["Total Bags"]
Calprom=Caltb.mean()
Calprom

729828.9754733727

In [ ]:
Caltot=Caltb.sum()
Caltot

In [42]:
Calstd=Caltb.std()
Calstd

813755.2335129493

In [43]:
Calsmall=California["Small Bags"]
Calsmallsm=Calsmall.sum()
CalsmllPorc=Calsmallsm / Caltot
CalsmllPorc

0.9287159176123091

In [44]:
Callg=California["Large Bags"]
Callgsm=Callg.sum()
CallgPorc=Callgsm / Caltot
CallgPorc

0.04991011197376464

In [45]:
Calxlg=California["XLarge Bags"]
Calxlgsm=Calxlg.sum()
CalxlgPorc=Calxlgsm / Caltot
CalxlgPorc

0.0213739704139264

In [ ]:
Charlotte

In [46]:
Chartb=Charlotte["Total Bags"]
Charprom=Chartb.mean()
Charprom

34609.297071005916

In [ ]:
Chartot=Chartb.sum()
Chartot

In [48]:
Charstd=Chartb.std()
Charstd

37032.501145198745

In [49]:
Charsmall=Charlotte["Small Bags"]
Charsmallsm=Charsmall.sum()
CharsmllPorc=Charsmallsm / Chartot
CharsmllPorc

0.9098909190133377

In [50]:
Charlg=Charlotte["Large Bags"]
Charlgsm=Charlg.sum()
CharlgPorc=Charlgsm / Chartot
CharlgPorc

0.08415900980658017

In [51]:
Charxlg=Charlotte["XLarge Bags"]
Charxlgsm=Charxlg.sum()
CharxlgPorc=Charxlgsm / Chartot
CharxlgPorc

0.005950071180082002